{% extends "base.html" %}
{% block headerTitle %}
Usuarios!!!
{% endblock %}
{% block pageContent %}

<div class="right_col" role="main">



    <div class="x_panel">
        <div class="x_content">
              <form class="form-horizontal form-label-left" method="POST" id="formulario">{% csrf_token %}
                  <span class="section">Editar</span>
                     {% if errors %}
                        <p>
                        <ul>
                         {% for error in errors %}
                           <li><code>{{ error }}</code></li>
                         {% endfor %}
                        </ul>
                       </p>
                     {% endif %}

                  <div class="item form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="usuario">Usuario <span class="required">*</span>
                         </label>
                         <div class="col-md-6 col-sm-6 col-xs-12">
                           <input id="usuario" class="form-control col-md-7 col-xs-12" data-validate-length-range="6" data-validate-words="2" name="usuario"  required="required" type="text" value="{{ datos.username }}">{{ formulario.usuario }}
                         </div>
                  </div>
                  <div class="item form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="usuario">Apellido <span class="required">*</span>
                         </label>
                         <div class="col-md-6 col-sm-6 col-xs-12">
                           <input id="usuario" class="form-control col-md-7 col-xs-12" data-validate-length-range="6" data-validate-words="2" name="apellido"  required="required" type="text" value="{{ nombre }}">{{ formulario.apellido }}
                         </div>
                  </div>
                  <div class="item form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="usuario">Correo <span class="required">*</span>
                         </label>
                         <div class="col-md-6 col-sm-6 col-xs-12">
                           <input id="usuario" class="form-control col-md-7 col-xs-12" data-validate-length-range="6" data-validate-words="2" name="email"  required="required" type="text" value="{{ email }}">{{ formulario.email }}
                         </div>
                  </div>

                  <div class="ln_solid"></div>
                     <div class="form-group">
                         <div class="col-md-6 col-md-offset-3">
                             <button type="submit" class="btn btn-primary">Cancelar</button>
                             <button id="send" type="submit" class="btn btn-success">Guardar</button>
                         </div>
                     </div>
              </form>

        </div>
    </div>

</div>
{% endblock %}
